@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');


*{
    font-family: 'Dhurjati', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}